.myaside {
  position: fixed;
  max-width: 200px;
  left: 0;
}

.mybuttonbg {
  width: auto;
}

.mybuttonbg:hover {
  background-color: rgb(192, 188, 188) !important;
}

.mybuttonbg-active {
  width: auto;
  color: white;
  background-color: black;
}



.offcanvas {
  max-width: 220px;
}